/* Put your CSS here */
html, body {
    margin: 20px;
}

a{
    display:inline-block;
    margin: 0px 10px;
    text-align: center !important;
}
a:hover,
a:focus{
    text-decoration: none !important;
    color:#ff5d00 !important;
    /*text-align: center !important;*/
}

span.inactive a{
    color:red;
}
span.active a{
    color:green;
}